/* Global styles. */
body {
    font-family: "Nunito", sans-serif;
}

.btn-warning {
    border-radius: 1.5rem;
}

.hidden, .hide {
    display: none;
}

.visible {
    display: block;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

body.modal-open {
    overflow: hidden;
}

/* Navigation bar styles. */
#hamburger {
    position: fixed;
    border-style: none;
    right: .5rem;
    top: .5rem;
    z-index: 99;
    background-color: transparent;
    animation: fade-in-animation 2s linear;
}

nav {
    position: fixed;
    top: 0;
    height: 100vh;
    padding-left: 5rem; 
    padding-right: 5rem;
    background-color: rgba(211, 211, 211, .7);
    z-index: 999;
    display: flex;
    animation: slide-in-right .3s linear forwards;
}

#cross {
    position: absolute;
    top: .5em;
    right: .5em;
    border-style: none;
    background-color: transparent;
}

/* Homepage values. */
#homepage-main {
    position: relative;
    overflow: hidden;
    animation: fade-in-animation 2s linear;
}

#bg-video-container {
    width: 100%;
    z-index: -1;
}

#bg-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

#home-titles {
    font-family: "Open Sans", sans-serif;
}

#sub-titles {
    box-sizing: border-box;
}

#sub-titles p, #sub-titles h5, #sub-titles u, #sub-titles h2 {
    min-width: min-content;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    text-overflow: ellipsis;
}

#sub-titles h2, #sub-titles h5, #sub-titles u, #sub-titles {
    white-space: normal;
    word-wrap: break-word;
}

/* About page values. */
#about-main {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    animation: fade-in-animation 2s linear;
    margin-bottom: 5rem;
}

#about-main p {
    line-height: 2rem;
}

#about-main li {
    line-height: 2rem;
}

/* Portfolio page styles. */
#portfolio-main {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    animation: fade-in-animation 2s linear;
    margin-bottom: 5rem;
}

#portfolio-main h1 {
    padding-top: 10rem;
    padding-bottom: 3rem;
}

.currency-img {
    max-width: 400px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow-y: auto;
    max-height: 80%;
    max-width: 768px;
}

/* Contact page styles. */
#contact-main, #main-old-website {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    animation: fade-in-animation 2s linear;
    margin-bottom: 5rem;
}

/* Footer values. */
footer {
    font-size: 14px;
    animation: fade-in-animation 2s linear;
}

#footer-container {
    max-width: 768px;
}

/* Dark mode styles. */
@media (prefers-color-scheme: dark) {
    .text-warning {
        color: orange;
    }

    .bg-light {
        background-color: rgba(250,250,250,.03) !important;
    }

    .modal {
        background-color: #1a1a1a !important;
    }
}

@media only screen and (max-width: 576px) {
    .card img {
        display: none;
    }
}

@media only screen and (max-width: 432px) {
    #last-about-link {
        margin-top: 1rem;
        /* margin-left: 0; */
    }
}

@media only screen and (max-width: 788px) {
    .modal {
        max-width: calc(100% - 20px);
    }
}

/* Transition values. */
@keyframes slide-in-right {
    0%  {right: -300px;}
    100% {right: 0px;}
}

@keyframes slide-out-right {
    0%  {right: 0px;}
    100% {right: -100px;}
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}